<div class="home blue">
    <h1>Do the right thing</h1>
</div>
<div class="desc-block">
    <h4>Credit Opportunities With Good Approval Odds <sup>&#8224;</sup> </h4>
    <div class="testimonials">
        <div class="row form-group">
            <div class="col-md-6">
                <span class="text">
                    Barclay CashForward&trade; World MasterCard&trade;
                </span>
            </div>
            <div class="col-md-6 rate text-right hide-phone">
                <small class="rate">
                    <span class="fas fa-star checked"></span>
                    <span class="fas fa-star checked"></span>
                    <span class="fas fa-star checked"></span>
                    <span class="fas fa-star checked"></span>
                    <span class="far fa-star"></span>
                    3,252 Reviews
                </small>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">

                <div class="row form-group">
                    <div class="col col-md-8 vcard">
                        <img src="/assets/images/visa.png" alt="">
                    </div>
                    <div class="col col-md-4 approval">
                        <div class="block">
                            <span> Approval Odds<sup>&#8224;</sup> </span>
                            <span class="badge-approval">
                                Very Good
                            </span>
                        </div>
                    </div>
                </div>

               

            </div>
            <div class="col-md-7">

                <ul>
                    <li>
                        Get the $100 cash rewards bonus after you spend $500 in purchases in the first 90 days after
                        account oppening.
                    </li>
                    <li>
                        Earn unlimited 1.5% cash rewards on every purchase.
                    </li>
                    <li>
                        Earn unlimited 1.5% cash rewards on every...<a href="">show more</a>
                    </li>
                </ul>

            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <button class="btn-apply">
                    Apply Now
                </button>
            </div>
            <div class="col-md-7">&nbsp;</div>
        </div>
    </div>
    <hr>
    <p class="details-link">
        <a href="">See Details Rates and Fees</a>
    </p>
</div>