.link {
    cursor: pointer;
}
.link:hover {
    font-weight: 700;
}
th.link {
    cursor: pointer;
}
i.fas.fa-sort {
    color: gray;
}
i.fas.fa-sort-up,i.fas.fa-sort-down {
    color: #5c78ff;
}

.pull-right.sort {
    float: right;
}